import(stream)
import(methods)
import(rJava)

importFrom(graphics, points, lines)
importFrom(stats, runif)

export(
  DSC_DenStream,
  DSC_CluStream,
  DSC_ClusTree,
  DSC_StreamKM,
  DSC_BICO_MOA,
  DSC_DStream_MOA,
  DSC_MCOD,

  DSOutlier_MCOD,

  DSD_RandomRBFGeneratorEvents
)

### S3 Methods
S3method(get_points, DSD_MOA)
S3method(print, DSC_MOA)
S3method(get_copy, DSC_MOA)
S3method(plot, DSC_MOA)
S3method(get_assignment, DSC_MOA)

S3method(get_assignment, DSOutlier_MCOD)
S3method(get_outlier_positions, DSOutlier_MCOD)
S3method(recheck_outlier, DSOutlier_MCOD)
S3method(update, DSOutlier_MCOD)

### so stream dispatches correcly
S3method(get_microclusters, DSC_MOA)
S3method(get_microweights, DSC_MOA)
S3method(get_macroclusters, DSC_MOA)
S3method(get_macroweights, DSC_MOA)
S3method(update, DSC_MOA)

